/* Fundo branco geral */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Faz o conteúdo ocupar o espaço e empurra o footer pra baixo */
main {
    flex: 1;
}

/* Linha preta */
.custom-line {
    border: none;
    border-top: 3px solid #000;
    width: 90%;
    margin: 20px auto;
}

/* Card estilo desenhado invertido */
.linguagem-card {
    background: transparent;
    border: 3px solid #000;
    border-radius: 25px;
    padding-bottom: 15px;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
    color: #000 !important;
}

/* Imagem no topo do card */
.card-img-top {
    width: 100% !important;
    height: 160px !important;
    object-fit: contain;
    background: #fff;
    padding: 10px;
    border-bottom: 3px solid #000;
    border-radius: 22px 22px 0 0;
}

/* Remove sombra do Bootstrap */
.card {
    background: transparent !important;
    box-shadow: none !important;
}

/* Ajuste do texto nos cards */
.linguagem-card h5,
.linguagem-card p {
    color: #000 !important;
}
